/**
    Color Variables
**/

// Global colors - Intermediate variables
// These establish the actual colors since the same color can be
// used for different element types. This will help preserve semantic
// variable names
$blue: #39ace6;
$blue-med: #1386BF;
$blue-dark: #0099e5;
$green: #65bb1f;
$orange: #eb5e3b;
$neon-green: #6cb536;
$off-black: #293033;
$off-white: #f5f7f7;
$off-whitemed: #e1e7ea;
$gray: #829199;
$extralight-gray: #edeff0;
$light-gray: #a1adb2;
$med-gray: #525f66;
$meddark-gray: #737b80;
$dark-gray: #3d474c;
$font-gray: #807f86;
$black: #242a32;
$red: #D4444E;
$orange: #eb5e3b;
$dark-orange: #dc5837;
$blue-black: #3d474d;
